<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="profile1"/>
    <add key="AWSAccessKey" value=""/>
    <add key="AWSSecretKey" value=""/>
    <add key="DbConnectionString" value=""/>
    <add key="HandleImageFormatApiUrl" value ="https://ir4rdc6y2e.execute-api.ap-southeast-1.amazonaws.com/default/HandleImageFormatLambda"/>
  </appSettings>
</configuration>